<h1>Add a Product</h1>
<form action="/productos" method="post">
  <ul>
    <li class="mb-3">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" type="text" id="name" name="name" />
    </li>
    <li class="mb-3">
      <label class="form-label" for="price">Price:</label>
      <input class="form-control" type="text" id="price" name="price" />
    </li>
    <li class="mb-3">
      <label class="form-label" for="thumbnail">Thumbnail:</label>
      <input class="form-control" type="text" id="thumbnail" name="thumbnail" />
    </li>
    <li class="mb-3">
      <button class="btn btn-primary" type="submit">Add Product</button>
    </li>
  </ul>
</form>