<h2>Send a message</h2>
<form id="formMensajes">
  <li class="mb-3">
    <label class="form-label" for="user">User:</label>
    <input class="form-control" type="email" id="user" name="user" />
  </li>
  <li class="mb-3">
    <label class="form-label" for="message">Message:</label>
    <input class="form-control" type="text" id="message" name="thumbnail" />
  </li>
  <li class="mb-3">
    <button class="btn btn-primary" type="submit">Send</button>
  </li>

</form>